extends base
include _reviewcard

block content
    main.main
        .user-view
            include _navAccount
            //- form.form__edit-review
            //-     .form__edit__group
            //-         .review__card__footer
            //-             button.btn.btn--green.btn--small Edit Review
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md= `Post Review on ${tour.name} tour`
                    
                    .card
                        .card__header
                            .card__picture
                                .card__picture-overlay &nbsp;
                                a.review__card--btn-back(href=`/my-reviews`)
                                    svg.review__card__icon
                                        use(xlink:href='/img/icons.svg#icon-arrow-left')
                                    p.review__card--btn-back-text Go back 
                                img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                            h3.heading-tertirary
                                span= tour.name

                        .review__content
                            .review__avatar
                                img.review__avatar-img(src=`/img/users/${user.photo}`, alt=`${user.name}`)
                            p.review__user=user.name
                         
                            form.form__create-review(data-id= tour.id)
                                .form__edit__group.review
                                    label.form__edit__label(for='review') Review 
                                    textarea#review.form__input(type='textarea', rows="4", name='review', required)=''
                                .form__edit__group
                                    label.form__edit__label(for='rating') Rating 
                                    .ratings(name='rating', data-rating= 0 )
                                        span.fa.fa-star-o.inactive
                                        span.fa.fa-star-o.inactive
                                        span.fa.fa-star-o.inactive
                                        span.fa.fa-star-o.inactive
                                        span.fa.fa-star-o.inactive
                                .form__edit__group
                                    .review__card__footer
                                        button.btn.btn--green.btn--small Post Review