extends base
include _reviewcard

block content
    main.main
        .user-view
            include _navAccount
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md=`${userProfil.name} Profil`
                    
                    .card
                        .card__header
                            .card__picture
                                .card__picture-overlay &nbsp;
                                a.review__card--btn-back(href=`/manage-users`)
                                    svg.review__card__icon
                                        use(xlink:href='/img/icons.svg#icon-arrow-left')
                                    p.review__card--btn-back-text Go back 
                                img.card__picture-img(src=`/img/users/${userProfil.photo}`, alt=`${userProfil.name}`)
                            h3.heading-tertirary
                                span= userProfil.name

                        .review__content
                            .form__label=``
                            .review__avatar
                                img.review__avatar-img.user__avatar-img(src=`/img/users/${userProfil.photo}`, alt=`${userProfil.name}`)

                            p.review__user__content.warning-construct  Section under construction!
                            //- .form__input.form--add
                            //-     .user-label
                        

                        .review__card__footer
                            a.btn.btn--green.btn--small(href=`/edit-user/${userProfil.id}`) Edit